<h1>Contact: </h1>
			<p class="textstyle"><u>Telephone Numbers:</u><br />
		    If you want to make a query about our service or the restaurant itself, or even order a takeaway:<b><br />01634 570 633 <br /> 01634 851 221</p></b>
			<p class="textstyle"><u>Address:</u><br />3 King Street <br />Gillingham<br />Kent<br />ME6 1EY<br /></p>
       	    <p class="textstyle"><u>Email:</u><br />contact@beijinginn.co.uk</p>