<p class="textstyle"><h1>Introduction: </h1></p><hr />
<p class="textstyle"> With over 20 years experience in the Chinese restaurant  trade, Tony is really making a difference at the Beijing Inn, in Gillingham.  Tony took over the Beijing Inn five years ago, having moved down from the Miu Vally Takeaway. Backed by an equally experienced panel of chefs, we are able to  offer Thai and Malaysian dishes, as well as some of the best Chinese cooking  around.</p>
       	            <p class="textstyle">The menu includes more than 150 dishes, which you can mix and  match for a tailor-made meal. There are also set menus to choose from, if you  want a quick and easy deal; and I&rsquo;m sure the experienced staff will whip up a real treat for you, whatever you choose. You can enjoy a satisfying meal for  less than &pound;4!</p>
       	            <p class="textstyle">And if that wasn&rsquo;t a choice enough for  you, there is also an eat as much as you like option for &pound;16.95.</p>
       	            <p class="textstyle">The restaurant can accomadate over 100 people, and is an ideal location for special night with friends, a party or business lunch, for groups upto 30. On top of everything, if you dont fancy a night out, then why not order a takeaway?</p>