<p class="textnews"><h1>About Us</h1> </p>
<p class="textnews"><h2>Beijing Inn is  a family run Chinese food catering business which provides excellent eat-in and take-away services. Call us on:</h2>
<p>&nbsp;</p>
<h3 class="textnews">01634-570633</h3></p>
