<h1>Pictures:</h1>
<p class="textstyle"> These are a collection of photos taken inside and outside the Beijing Inn in various areas</p>
<p class="textstyle"> <a href="../pictures/IMG_0008.JPG" rel="lightbox[tour]" title="Interior">image #1</a>
  <a href="../pictures/IMG_0010.JPG" rel="lightbox[tour]" title="Table">image #2</a>
  <a href="../pictures/IMG_0014.JPG" rel="lightbox[tour]" title="Japanese Koi Fish">image #3</a>
  <a href="../pictures/IMG_0018.JPG" rel="lightbox[tour]" title="Interior 2">image #4</a></p>
<p class="textstyle">
  <a href="../pictures/IMG_0019.JPG" rel="lightbox[tour]" title="The Bar">image #5</a>
  <a href="../pictures/IMG_0021.JPG" rel="lightbox[tour]" title="The Bar 2">image #6</a>
  <a href="../pictures/IMG_0024.JPG" rel="lightbox[tour]" title="Kitchen">image #7</a>
  <a href="../pictures/IMG_0027.JPG" rel="lightbox[tour]" title="Preparing Egg Fried Rice">image #8</a>  </p>
<p class="textstyle"><a href="../pictures/IMG_0029.JPG" rel="lightbox[tour]" title="Preparing Egg Fried Rice 2">image #9</a>
  <a href="../pictures/IMG_0031.JPG" rel="lightbox[tour]" title="The Hot Plates">image #10</a>
  <a href="../pictures/IMG_0032.JPG" rel="lightbox[tour]" title="The Hot Plates 2">image #11</a>
  <a href="../pictures/IMG_0039.JPG" rel="lightbox[tour]" title="Storage Area">image #12</a>  </p>
<p class="textstyle"><a href="../pictures/IMG_0041.JPG" rel="lightbox[tour]" title="Drinks Up">image #13</a>
  <a href="../pictures/IMG_0043.JPG" rel="lightbox[tour]" title="Downstairs">image #14</a>
  <a href="../pictures/IMG_0045.JPG" rel="lightbox[tour]" title="Toilets">image #15</a>
  <a href="../pictures/IMG_0047.JPG" rel="lightbox[tour]" title="Round Table">image #16</a>  </p>
<p class="textstyle"><a href="../pictures/IMG_0050.JPG" rel="lightbox[tour]" title="Shop Front/Exterior">image #17</a>
  <a href="../pictures/IMG_0051.JPG" rel="lightbox[tour]" title="Shop Front/Exterior 2">image #18</a></p>
