<p class="textstyle"><b>Testimonials: </b></p><hr />
<p class="textstyle">
<center><div id="TA_selfserveprop218" class="TA_selfserveprop">
<ul id="Nd23sy7rw9RI" class="TA_links H688Uxrvn">
<li id="o8vY1ncll8tH" class="FAI94x0">14 reviews of <a target="_blank" href="http://www.tripadvisor.co.uk/Restaurant_Review-g503904-d789989-Reviews-Beijing_Inn-Gillingham_Kent_England.html">Beijing Inn</a> in Gillingham</li>
</ul>
</div>
<script src="http://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=218&amp;locationId=789989&amp;lang=en_UK&amp;rating=true&amp;nreviews=4&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=true&amp;border=false"></script></center></p>

