
div#sidebar{
 width:230px;
}
div#footer div#fphotos a img{
 filter:alpha(opacity=75);
}
div#footer div#fphotos:hover a img{
 filter:alpha(opacity=100);
}
div#footer div#flive{
 width:380px;
}
div#footer div#flive p{
 margin:-2px 10px 10px -25px;
}

.TB_overlayBG{
 filter:alpha(opacity=75);
}
* html #TB_overlay{ 
 position: absolute;
 height:expression(document.body.scrollHeight>document.body.offsetHeight?document.body.scrollHeight:document.body.offsetHeight+'px');
}
* html #TB_window{
 position:absolute;
 margin-top:expression(0-parseInt(this.offsetHeight/2)+(TBWindowMargin=document.documentElement&&document.documentElement.scrollTop||document.body.scrollTop)+'px');
}
* html #TB_load{
 position:absolute;
 margin-top:expression(0-parseInt(this.offsetHeight/2)+(TBWindowMargin=document.documentElement&&document.documentElement.scrollTop||document.body.scrollTop)+'px');
}
* html #TB_HideSelect{
 position:absolute;
 height:expression(document.body.scrollHeight>document.body.offsetHeight?document.body.scrollHeight:document.body.offsetHeight+'px');
}
#TB_HideSelect{
 filter:alpha(opacity=0);
}
