/* Grrr... */

div#content div#crufts{
 overflow:hidden;
 position:relative;
}

div#content ul#upper_anchors{
 height:1%;
}
div#content ul#lower_anchors{
 margin-bottom:0px;
}
div#content ul.anchors li a.on:hover{
 background-image:url(images/clubon.png);
}
div.club{
 height:240px;
 overflow:hidden;
}
div.club div{
 padding:0;
}
div.club p.dep{
 font-size:18px;
 visibility:hidden;
}

div#sidebar a#contact,
div#sidebar a#contacton,
div#topcontact a#contact,
div#topcontact a#contacton{
 width:160px;
 position:relative;
}

div#footer div#fphotos{
 overflow:hidden;
}
div#footer div#fphotos a img{
 margin-top:2px;
}

