
*{
 margin:0;
 padding:0;
}
html{
 height:100%;
 overflow-y:scroll;
}
body{
 color:#222;
 height:100%;
 cursor:default;
 font-size:12px;
 line-height:16px;
 text-align:center;
 font-family:Arial,sans-serif;
 background:#ffffff url(images/bg.png);
 /* "Lucida Grande","Trebuchet MS",Helvetica,Arial,sans-serif; */
}

strong{
 font-weight:bold;
}
em{
 font-style:italic;
}
a:link,a:visited{
 color:#810303;
 text-decoration:none;
 border-bottom:1px dotted #810303;
}
a:hover,a:focus{
 color:#101010;
 border-bottom:1px solid #101010;
}
.small{
 font-size:11px;
}
.tiny{
 font-size:10px;
}
.hide{
 display:none;
}
.underline{
 text-decoration:underline;
}
div.hr{
 clear:both;
 height:30px;
 background:url(images/hr.png) 50% 50% no-repeat;
}
div.wrap{
 width:800px;
 margin:0 auto;
}
.clear{
 clear:both;
}

div#header{
 height:160px;
 border-bottom:1px solid #ffffff;
 background:url(images/header.png) 50% 0 repeat-x;
}
div#header div.wrap h1{
 float:left;
 width:300px;
 height:160px;
 position:relative;
 margin-left:-110px;
 background:url(images/logo.png) 0 0 no-repeat;
}
div#header div.wrap h1 a{
 border:0;
 width:190px;
 height:160px;
 display:block;
 margin-left:110px;
 white-space:nowrap;
 text-indent:-10000px;
}

div#header div.wrap div#nav{
 float:right;
 width:600px;
 height:160px;
 background:url(images/navbg.png) 0 0 no-repeat;
}
div#header div.wrap div#nav ul{
 height:45px;
 display:block;
 margin:115px 0 0 0;
}
div#header div.wrap div#nav ul li{
 float:left;
 list-style-type:none;
}
div#header div.wrap div#nav ul li a.m{
 border:0;
 width:120px;
 height:45px;
 display:block;
 font-size:12px;
 cursor:pointer;
 margin-right:0px;
 line-height:45px;
 text-indent:-10000px;
 background-repeat:no-repeat;
 background-image:url(images/nav.png);
}
div#header div.wrap div#nav ul li#home a{background-position:0 0;}
div#header div.wrap div#nav ul li#about a{background-position:-120px 0;}
div#header div.wrap div#nav ul li#archives a{background-position:-240px 0;}
div#header div.wrap div#nav ul li#events a{background-position:-360px 0;}
div#header div.wrap div#nav ul li#clubs a{background-position:-480px 0;}
div#header div.wrap div#nav ul li#home a:hover{background-position:0 -45px;}
div#header div.wrap div#nav ul li#about a:hover{background-position:-120px -45px;}
div#header div.wrap div#nav ul li#archives a:hover{background-position:-240px -45px;}
div#header div.wrap div#nav ul li#events a:hover{background-position:-360px -45px;}
div#header div.wrap div#nav ul li#clubs a:hover{background-position:-480px -45px;}

div#header div.wrap div#nav ul li#home a.on{background-position:0 -90px;}
div#header div.wrap div#nav ul li#about a.on{background-position:-120px -90px;}
div#header div.wrap div#nav ul li#archives a.on{background-position:-240px -90px;}
div#header div.wrap div#nav ul li#events a.on{background-position:-360px -90px;}
div#header div.wrap div#nav ul li#clubs a.on{background-position:-480px -90px;}
div#header div.wrap div#nav ul li#home a.on:hover{background-position:0 -135px;}
div#header div.wrap div#nav ul li#about a.on:hover{background-position:-120px -135px;}
div#header div.wrap div#nav ul li#archives a.on:hover{background-position:-240px -135px;}
div#header div.wrap div#nav ul li#events a.on:hover{background-position:-360px -135px;}
div#header div.wrap div#nav ul li#clubs a.on:hover{background-position:-480px -135px;}

div#header div.wrap div#nav ul li ul{
 margin:0;
 top:157px;
 float:left;
 z-index:50;
 width:120px;
 height:auto;
 display:none;
 position:absolute;
 padding-bottom:20px;
 background:url(images/navdropbtm.png) bottom left no-repeat;
}
div#header div.wrap div#nav ul li ul li{
 display:block;
}
div#header div.wrap div#nav ul li ul li a{
 border:0;
 width:120px;
 height:40px;
 display:block;
 color:#d9b4b4;
 font-size:12px;
 line-height:40px;
 background:url(images/navdropbg.png) 0 0;
}
div#header div.wrap div#nav ul li ul li a.on{
 color:#ffffff;
 background-position:0 0 !important;
}
div#header div.wrap div#nav ul li ul li a:hover{
 background-position:0 -40px !important;
}

div#container{
 width:820px;
 margin:0 auto;
 text-align:left;
 background:#ffffff;
 border-left:1px solid #dcdcdc;
 border-right:1px solid #dcdcdc;
}

div#content{
 float:left;
 width:500px;
 min-height:100px;
 line-height:18px;
 text-align:justify;
 margin:0 0 10px 25px;
}
div#content a.mail{
 border:1px dotted;
 padding:4px 5px 4px 25px;
 background:url(images/mail.png) 4px 4px no-repeat;
}
div#content a.mail:hover{
 border:1px solid;
 background-color:#f5f5f5;
}
div#content a.edit{
 background:#ffc;
 padding:2px 5px;
 font-weight:bold;
 border:1px dotted #fdc689;
}
div#content a.edit:hover{
 color:#000;
 background:#fdc689;
 border:1px solid #f7941d;
}

div#content div#crufts{
 height:30px;
 margin:20px -150px 20px 0;
 background:url(images/cruftbg.png) top left;
}
div#content div#crufts ul{
 float:left;
 font-size:11px;
 line-height:30px;
 list-style-type:none;
}
div#content div#crufts ul li{
 display:inline;
 margin:0 5px 0 0;
 padding:0 0 0 16px;
 background:url(images/cruft.png) 0 2px no-repeat;
}
div#content div#crufts ul li#cruft-home{
 margin-left:0;
 padding-left:0;
 background:none;
}
div#content div#crufts h2{
 float:left;
 color:#b40000;
 font-size:11px;
 line-height:30px;
 padding:0 0 0 15px;
 background:url(images/h2.png) 0 10px no-repeat;
}
div#content h3{
 clear:both;
 height:16px;
 color:#810303;
 margin:10px 0;
 font-size:20px;
 padding:0 0 5px 0;
 font-family:"Trebuchet MS";
}
div#content ul{
 margin:0 0 15px 15px;
}
div#content ul li{
 margin:0 0 5px 0;
}
div#content ul ul{
 margin:10px 0 15px 15px;
}
div#content p{
 margin:5px 0 10px 0;
}

div#content p.more{
 clear:both;
 float:right;
 margin:2px 0 5px 0;
 padding:0 15px 0 0;
 background:url(images/more.png) 100% 1px no-repeat;
}
p.center{
 clear:both;
 text-align:center;
}

p.news{
 font-family:Helvetica;
 padding:5px 8px 3px 8px;
 background:url(images/newsbg.png) top left;
}
span.newsdate{
 float:left;
 padding:1px 0 1px 20px;
 background:url(images/calendar.png) 0 1px no-repeat;
}
span.newscomments{
 margin:0 0 0 10px;
 float:right;
 padding:1px 0 1px 24px;
 background:url(images/comment.png) 2px 1px no-repeat;
}
p.newstext img{
 border:0;
 padding:5px;
 margin:0 0 8px 0;
 background:#ffdabe;
}
p.newstext a.thickbox:hover img{
 background:#ffc193;
}
p.newstext img.left{
 float:left;
 margin:0 8px 8px 0;
}
p.newstext img.right{
 float:right;
 margin:0 0 8px 8px;
}
span.newscomments a{
 font-weight:bold;
}
span.newsauthor,
span.newsauthor a{
 color:#888;
}
p.continue{
 font-weight:bold;
 padding:3px 0 5px 28px;
 background:#fff0e5 url(images/more.png) 10px 2px no-repeat;
}

div#content ul.anchors{
 margin:0;
 padding:0;
 list-style:none;
}
div#content ul.anchors li{
 margin:0;
 padding:0;
 float:left;
}
div#content ul.anchors li a{
 top:0;
 left:0;
 border:0;
 padding:0;
 width:152px;
 height:50px;
 display:block;
 line-height:50px;
 position:relative;
 text-align:center;
 background:url(images/club.png) no-repeat;
}
div#content ul.anchors li a:hover{
 background-image:url(images/clubhov.png);
}
div#content ul.anchors li a.on{
 color:#660000;
 font-weight:bold;
 background-image:url(images/clubon.png);
}
div#content ul#lower_anchors{
 margin-bottom:50px;
}
div#content ul#upper_anchors li.aerosoc a{
 background-position:0 0;
}
div#content ul#upper_anchors li.bioengsoc a{
 background-position:-152px 0;
}
div#content ul#upper_anchors li.chemengsoc a{
 background-position:-304px 0;
}
div#content ul#upper_anchors li.civsoc a{
 background-position:-456px 0;
}
div#content ul#upper_anchors li.docsoc a{
 background-position:-608px 0;
}
div#content ul#lower_anchors li.eesoc a{
 background-position:0 -300px;
}
div#content ul#lower_anchors li.matsoc a{
 background-position:-152px -300px;
}
div#content ul#lower_anchors li.mechsoc a{
 background-position:-304px -300px;
}
div#content ul#lower_anchors li.motor a{
 background-position:-456px -300px;
}
div#content ul#lower_anchors li.media a{
 background-position:-608px -300px;
}
div.club{
 margin:0;
 clear:both;
 height:220px;
 padding:15px 20px;
 background:url(images/clubon.png) 0 -50px no-repeat;
}
div.club p.dep{
 margin:0;
 float:left;
 width:400px;
 height:30px;
 margin:0 !important;
}
div.club div.img{
 border:0;
 float:right;
 height:220px;
 padding:0 10px;
 margin:0 0 0 15px;
 line-height:220px;
 text-align:center;
}
div.club div.img a{
 border:0;
}
div.club div.img img{
 border:0;
 vertical-align:middle;
}
div.club div.info{
 clear:left;
 height:150px;
 overflow:auto;
 padding:0 10px 0 0;
}
div.club div.info p.chair{
 text-align:right;
 font-weight:bold;
}
div.club div.info p.chair span{
 color:#888;
 font-weight:normal;
}
div.club p.site{
 font-size:12pt;
 line-height:30px;
 text-align:center;
}

div.icnews img{
 border:0;
 float:left;
 margin:0 10px 0 0;
}
div.icnews p.dte{
 color:#444;
 font-style:italic;
}
.stepcarousel{
 width:500px;
 height:150px;
 overflow:scroll;
 position:relative;
}
.stepcarousel .belt{
 top:0;
 left:0;
 position:absolute;
}
.stepcarousel .icnews{
 margin:0;
 float:left;
 width:500px;
 overflow:hidden;
}

form{
 background:url(images/formbg.png) top left;
}
form input.text{
 width:400px;
 font-size:12px;
 font-family:Arial,sans-serif;
}
form input.button{
 color:#810303;
 font-size:12px;
 padding:2px 8px;
 font-weight:bold;
 font-family:Arial,sans-serif;
}

form.post{
 padding:10px;
}
form.post input.text{
 width:460px;
 padding:3px 5px;
 margin:0 0 10px 0;
}
form.post input.file,
form.post select{
 margin:0 0 10px 0;
}
form.post textarea{
 width:460px;
 padding:5px;
 height:160px;
 font-size:12px;
 font-family:Arial,sans-serif;
}
form.post p.more{
 margin:10px 5px 10px 0;
}
form.post div#toolbar a{
 border:0;
}
form.post div#toolbar a img{
 border:0;
 background:#e6cdcd;
 padding:3px !important;
}
form.post div#toolbar a:hover img{
 background:#d5a0a0;
}

form#signin div#_signin{
 margin:10px 0 0 0;
 text-align:center;
}
form#signin input.text{
 width:160px;
}
form#signin table{
 width:100%;
 padding:10px 0;
}
form#signin table th{
 width:220px;
 text-align:right;
 line-height:30px;
 padding:0 10px 0 0;
}
form#signin table td{
 text-align:left;
 line-height:30px;
}

div.event_small_b{
 margin:0 0 10px 0;
 padding:0 0 5px 0;
 border-bottom:2px solid #eaeaea;
}
div.event_small a.img{
 border:0;
 float:left;
}
div.event_small a.img img{
 border:0;
 padding:6px;
 background:#d43e3e;
}
div.event_small a.img:hover img{
 background:#a20101;
}
div.event_small ul{
 float:right;
 width:390px;
 list-style-type:none;
}
div.event_small ul li{
 padding-left:0 !important;
 background:none !important;
 margin:0 0 5px 0 !important;
}

ul li.space{
 margin-top:15px !important;
}

ul.error{
 padding:10px;
 border:1px solid;
 background:#ffffcc;
 list-style-type:none;
 border-color:#ffff5b;
 margin:0 0 10px 0 !important;
}
ul.error li{
 color:#810303;
 margin:0 !important;
 padding:0 0 0 20px !important;
 background:url(images/error.png) 0 0 no-repeat;
}
ul.error li ul li{
 background:none;
 padding:0!important;
}
ul.success{
 padding:10px;
 border:1px solid;
 background:#c5d6ea;
 list-style-type:none;
 border-color:#7da7d9;
 margin:0 0 10px 0 !important;
}
ul.success li{
 color:#416692;
 margin:0 !important;
 padding:0 0 0 20px !important;
 background:url(images/success.png) 0 2px no-repeat;
}

ul.links{
 list-style-type:none;
 margin-left:0 !important;
}
ul.links li{
 text-align:justify;
 background-position:0 4px;
}
ul.links li a{
 display:block;
 padding:3px 5px;
 font-weight:bold;
 border-color:#810303;
}
ul.links li a.edit{
 display:inline;
}
ul.links li a:hover{
 color:#333;
 background:url(images/formbg.png);
}
ul.links li a span{
 color:#810303;
 visibility:hidden;
 font-weight:normal;
}
ul.links li a:hover span{
 visibility:visible;
}
ul.links li span.description{
 color:#555;
 display:block;
 padding:3px 5px;
}

div#topcontact{
 width:200px;
 float:right;
 margin:-50px 0 0 0;
}
div#sidebar{
 width:200px;
 float:right;
 padding:15px;
 font-size:11px;
 margin:5px 30px 10px 0;
}
div#sidebar a#contact,
div#sidebar a#contacton,
div#topcontact a#contact,
div#topcontact a#contacton{
 border:0;
 float:right;
 width:150px;
 padding:5px;
 line-height:20px;
 text-align:center;
 text-indent:-10000px;
 margin:0 -25px 20px 0;
 background:url(images/contact.png) no-repeat;
}
div#topcontact a#contact,
div#topcontact a#contacton{
 margin:0;
}
div#sidebar a#contact:hover,
div#topcontact a#contact:hover{
 background-position:0 -30px;
}
div#sidebar a#contacton,
div#topcontact a#contacton{
 background-position:0 -60px;
}
div#sidebar a#contacton:hover,
div#topcontact a#contacton:hover{
 background-position:0 -90px;
}
div#sidebar h3{
 clear:both;
 height:20px;
 color:#810303;
 font-size:14px;
 margin:0 0 10px 0;
 font-family:"Trebuchet MS";
 background:url(images/sideh3.png);
}
div#sidebar ul{
 margin:0 0 15px 5px;
}
div#sidebar ul li{
 margin:0 0 5px 0;
}
div#sidebar ul.news,
div#sidebar ul.red{
 list-style-type:none;
}
div#sidebar ul.news li{
 padding:0 0 0 14px;
 background:url(images/bullet_news.png) 0 3px no-repeat;
}
div#sidebar ul.red li{
 padding:0 0 0 16px;
 background:url(images/bullet_red.png) 0 1px no-repeat;
}

div#sidebar p.more{
 clear:both;
 margin:-5px 0 15px 0;
}
div#sidebar p.more a{
 border:0;
 color:#aaa;
 display:block;
 text-align:right;
 padding:3px 15px 3px 0;
 background:url(images/moregray.png) 100% 3px no-repeat;
}
div#sidebar p.more a:hover{
 color:#555;
 background:#eee url(images/more.png) 100% 3px no-repeat;
}
 
div#sidebar div.event a.img{
 border:0;
 float:left;
}
div#sidebar div.event a.img img{
 border:0;
}
div#sidebar div.event ul{
 margin:0;
 width:110px;
 float:right;
 list-style-type:none;
}
div#sidebar div.event a.ttl{
 display:block;
 padding:2px 5px;
 font-weight:bold;
 margin:-5px 0 5px 0;
 border-color:#810303;
}
div#sidebar div.event a.ttl:hover{
 color:#333;
 background:url(images/formbg.png);
}

div#footer{
 height:300px;
 color:#392b22;
 background:#000000 url(images/footer.png) repeat-x;
}
div#footer div.wrap{
 width:820px;
 height:300px;
 background:url(images/footerwrap.png) 50% no-repeat;
}
div#footer div div{
 float:left;
 font-size:10px;
}
div#footer div#fphotos{
 width:400px;
 height:160px;
 text-align:left;
 margin:99px 0 0 0;
}
div#footer div#fphotos a{
 border:0;
 margin:0;
}
div#footer div#fphotos a img{
 border:0;
 width:75px;
 height:75px;
 opacity:.75;
 -moz-opacity:.75;
 margin:0 5px 5px 0;
}
div#footer div#fphotos a:hover img{
 opacity:1;
 -moz-opacity:1;
}
div#footer div#fphotos a#flickr{
 width:50px;
 float:left;
 height:160px;
 margin:0 10px 0 0;
 background:url(images/fphotos.png) 0 0 no-repeat;
}
div#footer div#fphotos a#flickr:hover{
 background-position:-50px 0;
}
div#footer div#fphotos a#flickr span{
 display:none;
}

div#footer div#flive{
 float:right;
 width:360px;
 height:155px;
 margin:100px 0 0 0;
 padding:5px 10px 0 10px;
}
div#footer div#flive p{
 float:left;
 width:88px;
 height:50px;
 margin:-2px 15px 0 -25px;
}
div#footer div#flive p a{
 border:0;
 width:88px;
 height:50px;
 display:block;
 text-indent:-9999px;
}
div#footer div#flive ul{
 color:#aaa;
 margin-top:8px;
 text-align:justify;
 list-style-type:none;
}
div#footer div#flive ul li{
 line-height:12px;
 margin:-3px 0 10px 0;
}

div#footer div#fcgcu{
 clear:left;
 width:820px;
 color:#ffcdcd;
 font-size:11px;
 margin:3px 0 0 0;
 line-height:36px;
}
div#footer div#fcgcu a{
 color:#ffcdcd;
 border-color:#ffcdcd;
}

